In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("train_data.csv",encoding="utf-8")

In [3]:
df.head()

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-10-23 09:38:49.110,NaN,2022-11-02 23:59:00,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,NaN,False,Work,Plane,0,NaN,66c7f29e3b92f3b77e20830ac29e7758037a53d2238a5b...,764974891906,477368495
1,2022-08-15 14:51:43.160,NaN,2022-08-18 04:15:00,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,NaN,False,Int,Plane,0,NaN,b24634843858a4175d03422aa9e7211ec3b9f3ce4c481c...,27479149496,15987669
2,2022-09-20 17:25:27.250,NaN,2022-09-21 11:00:00,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,VIP 2+1,True,Work,Bus,0,NaN,NaN,323657282999,667640412
3,2022-06-25 11:32:53.980,NaN,2022-06-26 08:30:00,37957585,2867547.0,2,NaN,False,40000.0,0.0,...,1,3 ستاره اتوبوسي,NaN,Int,Train,0,NaN,NaN,169459057632,392476186
4,2022-06-01 11:30:53.633,NaN,2022-06-02 23:00:00,37584530,7212559.0,3,NaN,True,1130000.0,0.0,...,1,اسکانیا تک صندلی ۳۱نفره,True,Int,Bus,0,NaN,NaN,408595008421,79497837

In [4]:
df["TripReason"].unique()

array(['Work', 'Int'], dtype=object)

In [5]:
df["Domestic"].unique()

array([1, 0], dtype=int64)

In [6]:
df["Male"].unique()

array([ True, False])

In [7]:
df["Vehicle"].unique()

array(['Plane', 'Bus', 'Train', 'InternationalPlane'], dtype=object)

In [8]:
df["From"].unique()

array(['گرگان', 'مشهد', 'شیراز', 'تبریز', 'تهران', 'بروجرد', 'اصفهان',
       'یزد', 'رشت', 'بوشهر', 'اهواز', 'اراک', 'مشهد (خراسان )', 'قم',
       'سیرجان', 'کرج', 'آبادان', 'زنجان', 'بافق', 'شوشتر', 'اردبیل',
       'نجف آباد (اصفهان )', 'خرم آباد (لرستان )', 'بهبهان', 'خرمشهر',
       'رودسر', 'چالوس', 'جهرم', 'کیش', 'کرمان', 'قزوین', 'گنبدکاووس',
       'گلپایگان', 'بندرعباس', 'عسلويه', 'جلفا', 'دیر', 'ارومیه',
       'زاهدان', 'کرمانشاه', 'بابلسر', 'کاشمر', 'گرمسار', 'هشتگرد',
       'اقلید', 'لنجان', 'همدان', 'بیرجند', 'شهرکرد', 'مراغه', 'ساری',
       'رامسر', 'بروجن', 'قایم شهر', 'جوین', 'برخوار', 'سنندج', 'طبس',
       'ماسال', 'شاهرود', 'سمنان', 'خواف', 'دامغان', 'دورود', 'اندیمشک',
       'شاهرود (سمنان )', 'تنکابن', 'آستارا', 'گناباد', 'لامرد',
       'کنگان (بوشهر)', 'نور', 'نایروبی', 'استانبول', 'چابهار', 'قشم',
       'عسلویه', 'شهرضا', 'ایرانشهر', 'بابل', 'مهاباد (آذربایجان غربی )',
       'ملایر', 'زواره', 'میلان', 'تاکستان', 'خوی', 'محمدیه', 'خرم دره',
       'کاشان', 'گناوه', 'دزفول', 'تویسرکان', 'خلخال', 'سرخس', 'مرند',
       'نیشابور', 'بشرویه', 'ایذه', 'حکاری', 'کازرون', 'ایلام', 'میانه',
       'بانه', 'نوشهر', 'شاهین شهر', 'آمل', 'جاجرم', 'فردوس (خراسان )',
       'بجنورد', 'بم', 'نجف', 'داراب (فارس )', 'دشتستان', 'ماهشهر', 'دبی',
       'بوکان', 'ازنا', 'شهریار', 'بندرانزلی', 'سراب (آذربایجان شرقی )',
       'یاسوج', 'خمینی شهر', 'سقز', 'یاسوج (بویراحمد)', 'دوحه', 'وان',
       'بندر لنگه', 'بافت', 'آباده', 'شاهین دژ', 'اردکان (یزد)', 'بهشهر',
       'مسجدسلیمان', 'خراسانک', 'اسفراین', 'میبد', 'ازمیر',
       'محمودآباد (مازندران )', 'آنتالیا', 'قائمشهر', 'تربت حیدریه',
       'قوچان', 'نهاوند (همدان )', 'نی ریز', 'زرند', 'ساوه', 'اردکان',
       'خمین', 'خنج', 'اسلام آباد غرب', 'رفسنجان', 'گچساران', 'ورامین',
       'بغداد', 'کویت', 'جیرفت', 'صوفیه', 'سلماس', 'نقاب', 'آزادور',
       'شوش', 'کهگیلویه (دهدشت )', 'لارستان', 'میناب',
       'شهر قدس (قلعه حسن خان)', 'رباط کریم', 'پارس آباد', 'زابل', 'ماکو',
       'آستانه اشرفیه', 'شبستر', 'لنگرود', 'طوالش', 'آنکارا', 'دلفان',
       'فیروزکوه', 'سبزوار', 'سعادت شهر', 'قرچك', 'پیشوا',
       'شیروان (خراسان )', 'پاوه', 'شهربابک (کرمان )', 'اهر', 'نکا',
       'کوهدشت (لرستان )', 'آبیک', 'استکهلم', 'مشگین شهر', 'چنای', 'سنقر',
       'گراش', 'ایروان', 'مریوان', 'بمبئی', 'بجستان', 'ملکان (ملک کندی )',
       'خرم\u200cآباد', 'لیسبون', 'ونیز', 'عجب شیر', 'مسقط', 'فلورانس',
       'بادرود', 'برداسکن', 'فرانکفورت', 'تفلیس', 'مونترآل', 'ایوان',
       'جمکران', 'میاندوآب', 'جاسک', 'ارجان', 'صومعه سرا', 'آمستردام',
       'باتومی', 'عباس آباد(مازندران )', 'ابوظبی', 'دشتی (بوشهر)',
       'بهاباد', 'آدانا', 'دوربان', 'سپیددشت', 'آغری', 'اسلامشهر',
       'آلانیا'], dtype=object)

In [9]:
df[df["Cancel"]==1]

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
26,2022-09-29 17:41:39.867,2022-10-01 19:02:49.270,2022-10-02 08:00:00,39411555,7666063.0,5,118579.0,True,790000.0,0.0,...,1,25 نفره (VIP),True,Int,Bus,1,NaN,037f0c853ecf0a9fd18158607828c60bc198b1c58ed9fc...,122608794210,717309505
43,2022-07-14 19:56:56.167,2022-07-19 17:40:03.007,2022-07-25 17:30:00,38272327,2291749.0,5,119113.0,False,6963000.0,0.0,...,1,فوکر 100,False,Int,Plane,1,NaN,599890a84cf29feb348b27ac8df74578cd499041d9000a...,713205921820,222095425
45,2022-10-26 11:45:34.323,2022-10-27 15:42:34.530,2022-10-27 18:45:00,39748192,7757314.0,5,NaN,True,1220000.0,0.0,...,1,مان وی ای پی ۲۶ صندلی,True,Work,Bus,1,NaN,NaN,528381673913,745060375
50,2022-09-01 01:18:32.863,2022-09-01 03:45:13.283,2022-09-01 10:30:00,38949168,7578801.0,5,820166.0,False,1200000.0,0.0,...,1,VIP+مانیتوردار+تخت شو+شارژر+ و پذیرائی,True,Int,Bus,1,NaN,b61490b0056e7fa7d177baf45c271aabd4c39576aedd3c...,701590196281,806255945
77,2022-07-22 11:35:17.517,2022-07-27 20:07:08.437,2022-08-08 09:45:00,38371419,7428834.0,5,471106.0,True,1080000.0,0.0,...,1,اسکانیا وی ای پی ۲۵نفره/تخت شو.,True,Int,Bus,1,NaN,da7d5800de253c77db9e9affc232e7044d34245b7de9a2...,101105611176,232336618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100996,2022-09-08 04:28:49.513,2022-09-08 09:13:14.130,2022-09-29 23:25:00,39062550,2996210.0,4,NaN,True,3068500.0,0.0,...,1,4ستاره 4 تخته عرفان,NaN,Int,Train,1,NaN,NaN,258076994136,332707271
101000,2022-10-31 09:10:22.010,2022-11-01 09:14:12.060,2022-11-02 00:40:00,39804609,3087347.0,4,964940.0,True,1362500.0,0.0,...,1,3ستاره 4تخته خليج فارس,NaN,Work,Train,1,NaN,9ae14ffe5d112150ebf8ed73a080fb1c6bbf2c91a0c57f...,124680337869,55108995
101002,2022-11-01 08:39:50.493,2022-11-01 11:30:04.737,2022-11-01 13:00:00,39817292,7776074.0,5,903732.0,True,1500000.0,0.0,...,1,سوپر کلاسیک,True,Work,Bus,1,NaN,01348fcc172de9eb062a56fff0ad4008879fe31b68e027...,50512295400,894873566
101005,2022-09-21 18:28:14.753,2022-09-24 22:14:37.213,2022-09-25 11:25:00,39268486,2332529.0,5,617743.0,False,10694000.0,0.0,...,1,NaN,False,Int,Plane,1,NaN,4bc6b65df8f59efccd2e8d3f583cdb2189ad88d252f86a...,692667690706,656754382
101006,2022-09-29 12:55:26.147,2022-10-03 01:15:04.187,2022-10-08 21:00:00,39406114,3038589.0,4,493602.0,False,2983500.0,0.0,...,1,4 ستاره 4 تخته غزال,NaN,Int,Train,1,NaN,7288dfcfc6a44712d19b39884d61189e8f0bfffb853d4d...,823903568249,173218538